:root {
  --primery-text-color: #ffffff;
  --title-text-color: #212121;
  --text-about-color: #757575;
  --link-color: #2196f3;
  --line-background: #2f303a;
  --button-color: #f5f4fa;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
}

.main {
  background-color: var(--primery-text-color);
}

/* top  */

.head-box {
  display: block;
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;
}

.top-logo {
  display: block;
  margin-right: 97px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
  font-family: "Raleway";
  text-decoration: none;
  padding: 32px 0;
}
.top-logo:hover,
.top-logo:focus {
  color: var(--link-color);
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--primery-text-color);
}

.button {
  cursor: pointer;
}

/* header  */

.container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.header-list {
  display: flex;
  gap: 65px;
}

.top-list {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.top {
  background-color: var(--primery-text-color);
  display: flex;
  align-items: center;
  margin: auto 0;
  width: 1200px;
  height: 80px;
}

.list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  list-style-type: none;
  display: block;
  padding: 32px 0;
}
.list-link:visited {
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list-link-current {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  display: block;
  padding: 32px 0;
}

.link-current,
.link:hover,
.link:focus {
  color: var(--link-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* tel-list  */

.tel-list {
  display: flex;
  gap: 50px;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-about-color);
}

/* hero  */

.hero {
  background-color: var(--line-background);
  margin-top: 0;
  box-sizing: border-box;
  width: 1600px;
  height: 600px;
  text-align: center;
  align-items: center;
  padding: 200px 0;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.hero-btn:hover {
  color: var(--primery-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:focus {
  color: var(--link-color);
  background: var(--link-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* about  */

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-list {
  list-style: none;
}

.about-list,
.about-title {
  padding: 0;
  margin: 0;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 9px;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}

.content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.content-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.content-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* about team  */

.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.team {
  background-color: var(--button-color);
  padding: 186px 0 94px;
  margin: 0;
}

.team-box {
  background-color: #fff;
}

.team-about {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-names {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}

/* footer  */
.feet {
  width: 1200px;
  padding: 60px 0;
  padding-left: 215px;
  display: flex;
  flex-direction: column;
}

.address-box {
  font-style: normal;
}

.address-list {
  margin: 0;
  padding: 0;
  gap: 2px;
}

.address {
  background-color: var(--line-background);
}

.address-location {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  text-decoration: none;
}

.address-location:hover,
.address-location:focus {
  color: var(--link-color);
}

/* portfolio  */

/* buttons */

.btn {
  font-family: "roboto", sans-serif;
}

.btn-list {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.btn-project {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  background: var(--button-color);
  border-radius: 4px;
}

.btn-project:hover,
.btn-project:focus {
  color: var(--primery-text-color);
  background: var(--link-color);
}

/* projects  */

.titles-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  gap: 30px;
}

.title-box {
  background-color: #fff;
  border: 1px solid #eeeeee;
}

.titles-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.title-about {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-about-color);
}
